.main {
    background: #222831;
    padding: 24px;
    border-radius: 8px;
    min-height: 500px;
    width: 450px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}